<div class="mainUserDiv">
  <div class="addUserHeading"> Add User </div>

  <div class="labelHeading"> Name: </div>
  <div> <input class="textBoxDiv" type="text" name="firstName" placeholder="Enter First Name"> </div>

  <div class="labelHeading"> Job: </div>
  <div> <input class="textBoxDiv" type="text" name="jobTitle" placeholder="Enter Last Name"> </div>

  <div class="userFormButtonDiv">
    <button class="userFormButton" [ngClass]="{active: true}" > Submit </button> 
    <button class="userFormButton"> Cancel </button> 
  </div>
</div>