<div class="mainUserDiv">
  <div class="addUserHeading" *ngIf="!displayEditData"> Add User </div>
  <div class="addUserHeading" *ngIf="displayEditData"> Edit User </div>

  <div class="labelHeading"> Name: </div>
  <div> <input #firstName class="textBoxDiv" value="{{ showData?.first_name }}" type="text" name="firstName"
      placeholder="Enter First Name">
  </div>

  <div class="labelHeading"> Job: </div>
  <div> <input #lastName class="textBoxDiv" value="{{ showData?.last_name }}" type="text" name="jobTitle" placeholder="Enter Last Name">
  </div>

  <div *ngIf="displayEditData">
    <div class="labelHeading"> Avatar: </div>
    <div> <img class="imageData" src="{{ showData?.avatar }}" alt="{{ showData?.avatar }}" width="100px" height="100px" />
    </div>
  </div>

  <div class="userFormButtonDiv">
    <input type="button" [value]="submitButton" class="userFormButton" [ngClass]="{active: true}" (click)="addUserRecord(firstName.value,lastName.value)" />
    <button class="userFormButton" routerLink="/recordlist"> Cancel </button>
  </div>
</div>