.headingDiv{
    margin: 0% 15% auto;
    font-size: 25px;
    font-style: initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links{
    padding-left: 15%;
    margin: 2% auto; 
}

.recordListLink{
    color: gray;
}

.recordListLink.active{
    color:black;
    font-weight: bold;
}

.waitingMessage{
    margin: 2% 15% auto;
}

.mainTable{
    margin: 2% 15% auto;
    text-align: left;
    display: table;
} 

.headerData{
    font-weight: bold;
}

.tableData{
    width:200px;
    height:50px;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
}

.topBorder{
    border-top: 1px solid grey;
}

.leftBorder{
    border-left: 1px solid grey;
}

.rightBorder{
    border-right: 1px solid grey;
}

.bottomBorder{
    border-bottom: 1px solid grey;
}

.paginationButtonDiv{
    margin: 1% 15% auto;
}

.paginationButton{
    margin-right: 5px;
    width: 30px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    background-color: #ECF0F1;
    border-style: hidden;
}

.paginationButton.active{
    background-color: #454545;
    color: white;
}

.paginationButton:hover{
    background-color: lightgray;
}

.fetchMessageDiv{
    font-size: 15px;
}

.mainUserDiv{
    /* border: 1px solid black; */
    margin: 1% 15% auto;
}

.addUserHeading{
    font-weight: bold;
    margin-bottom: 4%;
}

.labelHeading{
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textBoxDiv{
    margin-top: 1%;
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border-style: groove;
    text-indent: 10px;
}

.userFormButtonDiv{
    margin-top: 2%;
}

.userFormButton{
    width: 8%;
    height: 35px;
    margin-right: 10px;
    border-radius: 10%;
    border-style: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

.userFormButton.active{
    color: white;
    background-color: gray;
}