<div class="headingDiv"> 
  User CRUD Application
</div>

<div class="links">
  <a class="recordListLink" [ngClass]="{active: displayUserList}" (click)="showUserList(1)" > Record List </a> |
  <a class="recordListLink" [ngClass]="{active: userForm}" (click)="addUserForm()"> Add Record </a>
</div>

<div [hidden]="waitingMessage" class="waitingMessage">
  Please Wait while we are getting user details...
</div>

<!-- Display User List Table -->
<div *ngIf="displayUserList">
  <div *ngIf="waitingMessage" class="mainTable bottomBorder leftBorder rightBorder">
      <div class="headerData topBorder">
          <div class="tableData rightBorder"> Firstname </div>
          <div class="tableData rightBorder"> Lastname </div>
          <div class="tableData rightBorder"> Avtar </div> 
          <div class="tableData"> Action </div>
      </div>
      
      <div *ngFor="let data of displayDataArray" class="topBorder">
        <div class="tableData rightBorder"> {{ data.first_name }} </div>
        <div class="tableData rightBorder"> {{ data.last_name }} </div>
        <div class="tableData rightBorder"> <img src="{{ data.avatar }}" alt="{{ data.avatar }}" width="50px" height="50px"> </div>
        <div class="tableData">
          <a class="editLink"> Edit </a> |
          <a class="deleteLink"> Delete </a>
        </div>
      </div>
  </div>

  <div class="paginationButtonDiv">
    <button class="paginationButton" [ngClass]="{active: pageNo==allData.page}" *ngFor="let pageNo of totalPages" (click)="showUserList(pageNo)"> {{pageNo}} </button>     
    <span *ngIf = "fetchMessage" class="fetchMessageDiv"> Fetching Data... </span>
  </div>
</div>

<!-- Add User Form -->
<div *ngIf="userForm" class="mainUserDiv">
  <div class="addUserHeading"> Add User </div>

  <div class="labelHeading"> Name: </div>
  <div> <input class="textBoxDiv" type="text" name="firstName" placeholder="Enter First Name"> </div>

  <div class="labelHeading"> Job: </div>
  <div> <input class="textBoxDiv" type="text" name="jobTitle" placeholder="Enter Last Name"> </div>

  <div class="userFormButtonDiv">
    <button class="userFormButton" [ngClass]="{active: true}" > Submit </button> 
    <button class="userFormButton"> Cancel </button> 
  </div>
</div>