.mainDiv{
    width: 100%;
}

/* .headingDiv{
    padding-left: 200px;
    font-size: 25px;
    font-style: initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonDiv{
    padding-left: 195px;
    padding-top: 20px;
}

.button{
    margin: 5px;
}

.waitingMessage{
    padding-left: 200px;
    padding-top: 20px;
}

.listUser{
    padding-left: 200px;
    padding-top: 20px;
} */
