.mainDiv{
    width: 100%;
}

.headingDiv{
    margin: 0% 15% auto;
    font-size: 25px;
    font-style: initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links{
    padding-left: 15%;
    margin: 2% auto; 
}

.recordListLink{
    color: grey;
}

.recordListLink.active{
    color:black;
    font-weight: bold;
}